- unless @posts.empty?
  .sidebar-box
    %h1 Latest posts
    %ul.latest-posts
      - @posts.each do |p|
        %li= link_to "#{p.title}<br /><span>posted by #{p.user.name} #{time_ago_in_words p.created_at}</span>".html_safe, p