.user-in-listing{:data => {'user-id' => user.id}, :class => ((user.is_admin? and current_user.try(:is_admin?)) ? 'is-admin' : "")}
  - if !current_user.nil? and current_user.is_admin?
    .approval
      - if user.is_admin?
        %span This user is an admin
      - else
        %span
      - if !current_user.nil? and current_user.is_admin?
        .action.make-admin= user.is_admin?? "Disable admin status" : "Enable admin status"
      .clear
      
  .post-content
    %h2.post-title= user.name
    .post-url= link_to "Posts by user (#{user.posts.approved.count})", by_user_posts_path(user.id)
    
  .clear